*{box-sizing: border-box;}
body{
    

      font-family: "Newsreader", serif;
      font-optical-sizing: auto;
    
      font-style: normal;
    }


body {
font-size: 16px;
font-weight: 400;
font-style: normal;
}

header{
    background-color: #f3b5c5;
    padding: .8rem 1%;
    display: flex;
    align-items: flex-end;
}

header div {
  padding-left: 1vw;
}

header h1 {
    margin: 0;
    color: #d30000; 
  }

  header p {
    margin: 0;
    color: #960019; 
    letter-spacing: .5px
  }

  /*navagation stuff here*/
  /*small screens*/
  @media only screen and (max-width: 600px) {
    nav ul {
      margin: 0;
      padding: 0 2%;
      list-style-type: none;
    }

    nav a {
      display: block;
      padding: .8rem;
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      border-bottom: solid 1px #e0d2ff;
      text-transform: uppercase;
      color: #4527a0;
    }


  } /*end of media query*/
  /*BIG SCREENS*/
  @media only screen and (min-width: 601px) {
    nav{
      background-color: #cec2eb;
      
    }
  
    nav ul{
  
      list-style-type: none;
      padding: 0 1vw;
      margin: 0;
      display: flex;
    }
  
    nav a {
      font-size: 1.1rem;
      text-decoration: none;
      color: #4527a0; 
      font-weight: 700;
      display: block;
      padding: .83rem 2rem;
  }
  
  nav a:hover {
      color: #960019;
    }

  } /*end of media query*/



  /*main things*/
  main{
    padding: 1rem 1vw;
  }

  main h1{
    color: #4527a0;
        }

        main h2{
            color: #cec2eb;
            margin-bottom: .2rem;
                }

                main ol{
                    padding: 1rem 3vw;
                    background-color: #ffe7ed;
                                    }

                                    main dl dt { 
                                        color: #4527a0;
                                        font-weight: 700;
                                      }
                        
                                    

                                        main ul {
                                            list-style-type: square;
                                          }
                                        
                address {
                    font-style: normal;
                    background-color: #ffe7ed;
                    padding: .5rem;
                    width: 12.5rem;
                    border: 1px solid #4527a0;
                    border-radius: .5rem;
                    margin: center;
                  
                  }

                  main p {
                    margin: center;
                  }

                  main a {

                    color: #d30000;
                  }

                  main a:hover {
                    color: #4527a0;
                                    }



 table.our-value {
width: 100%;
border-collapse: collapse;
}
table.our-value th {
background-color: #4527a0;
color: white;
padding: .5rem 1vw;
text-align: left;
 }  
 
 table.our-value td {
  color: #4527a0;
  padding: .4rem 1vw;

}

table.our-value tr:nth-child(odd) {
  background-color: #ffe7ed;
}

table.our-value tr:hover {
  background-color: #e0d2ff;
}

footer{ 

    background-color: #cec2eb; 
    text-align: center;
    color: #4527a0;
    margin-top: 10px;
    padding: .225rem 0;
    font-size: 1rem;
    }

    footer a {
    color: #d30000;
    }


    figure.wrapped {
      width: 16%;
      margin: 0;
      float: right;
  }
  figure.wrapped img {
      width: 100%;
      height: auto;
  }
  figure.wrapped figcaption {
      text-align: center;
      font-size: .75rem;
  }

  div.gallery {
    display: flex;
    flex-wrap: wrap;
}

div.gallery figure {
margin: .5rem 2% 0 0;

}

div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
    color: #4527a0;
}








/* main stuff here */
main {
  padding: 1rem 2vw;
}

main h1 {
  color: #4527a0;
  font-size: 2rem;
  margin: .5rem 0 .8rem 0;
}

.wrapimage {
  width: 50%;
  margin: 0;
  float: right;
  margin-left: 2vw;
}
.wrapimage img {
  width: 100%;
  height: auto;
}
.wrapimage figcaption {
  text-align: center;
  font-size: .8rem;
}

.myForm fieldset {
  border: 1px solid #960019;
  border-radius: 3px;
  margin-bottom: 1rem;
}

.myForm legend{
color:#960019;
font-size: 1.2rem;


}

.myForm label {
  margin: .5rem;
}

.myForm label, .myForm select, .myForm [type=text], .myForm [type=tel], .myForm textarea
{
display: block;


}

.myForm [type=text], .myForm [type=tel], .myForm select, .myForm textarea
{
border: solid 1px #960019;
padding: .3rem;
width: 250px; 
border-radius: .3rem;
  font-weight: 200;



}

.myForm textarea {

height: 6rem;
}

.myForm :required {
  background-color: #e0d2ff;
}

.myForm [type=submit] {
  background-color: #4527a0;
  border: none;
  padding: 1rem 2rem;
  border-radius: 10px;
  color: white;
  margin: 1rem 0 0 1vw;
}

.pinhero {
  width: 100%;
  margin:0;
}

.pinhero img {
  width: 100%;
  height: auto;
}
header, nav, main, footer {
  max-width: 64rem;
  margin: 0 auto;
}